IRsystem_WebPage/static/datasets/oxbuild_dataset/
IRsystem_WebPage/static/datasets/paris_dataset/
systems/datasets/paris_dataset/
systems/datasets/oxbuild_dataset/
IRsystem_WebPage/static/query_images/